{% extends "index.html" %}
{% block title %}Sign in{% endblock %}
{% block body %}
  <h2>Sign in</h2>
  <form action="/login" method='post' novalidate class='form form-horizontal'>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    <div class="form-group">
        <label class='col-sm-2 control-label'> OpenID: </label>
        <div class="col-sm-4">
            <input class='form-control' type='text' name='openid' size='30' value='https://www.google.com/accounts/o8/id'>
        </div>
        <button class='btn btn-primary'>Sign in</button>
    </div>
    <input type='hidden' name='next' value="{{ next }}">
{% endblock %}
